</div>
</div>
   <div class="bg-secondary py-3">
	 <div class="row mb-3 ml-5">
			<a class="col-md-1 text-white" href="#">Our Blog</a>
			<a class="col-md-1 text-white" href="/feedback">Feedback</a>
      <a class="col-md-1 text-white" href="/about-us">About Us</a>
	</div>
      <div class="row md-2 ml-5">
        <div class="col-md-9">
          <p class="text-white">All rights reserved WidgetEduTech Pvt Ltd.</p>
        </div>
    </div>
  </div>

</body>
</html>
