<% include ./partials/header %>
  <div class="row">
    <div class="main d-flex flex-column">



    <!-- Card for class 9 -->
    <div class="card border-info text-center p-0">
      <div class="card-header">
        Class IX
      </div>
      <div class="card-body">
        <p class="card-text">
          Select the class 9 subject
        </p>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classNinePhysics">Physics</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classNineChemistry">Chemistry</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classNineMaths">Maths</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classNineBiology">Biology</a>
        <!--Modal class 9 physics-->
        <div class="modal fade" id="classNinePhysics" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Physics - Class 9</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- Modal class 9 chemistry -->
        <div class="modal fade" id="classNineChemistry" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Chemistry - Class 9</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- modal class 9 maths -->
        <div class="modal fade" id="classNineMaths" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Maths - Class 9</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- modal class 9 biology -->
        <div class="modal fade" id="classNineBiology" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Biology - Class 9</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>





      </div>
    </div>
    <!-- Card for class 10 -->
    <div class="card border-info text-center p-0">
      <div class="card-header">
        Class X
      </div>
      <div class="card-body">
        <p class="card-text">
          Select the class 10 subject
        </p>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classTenPhysics">Physics</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classTenChemistry">Chemistry</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classTenMaths">Maths</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classTenBiology">Biology</a>
        <!--Modal class 10 physics-->
        <div class="modal fade" id="classTenPhysics" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Physics - Class 10</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- Modal class 10 chemistry -->
        <div class="modal fade" id="classTenChemistry" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Chemistry - Class 10</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- modal class 10 maths -->
        <div class="modal fade" id="classTenMaths" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Maths - Class 10</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- modal class 10 biology -->
        <div class="modal fade" id="classTenBiology" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Biology - Class 10</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Card for class 11 -->
    <div class="card border-info text-center p-0">
      <div class="card-header">
        Class XI
      </div>
      <div class="card-body">
        <p class="card-text">
          Select the class 11 subject
        </p>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classElevenPhysics">Physics</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classElevenChemistry">Chemistry</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classElevenMaths">Maths</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classElevenBiology">Biology</a>
        <!--Modal class 11 physics-->
        <div class="modal fade" id="classElevenPhysics" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Physics - Class 11</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- Modal class 11 chemistry -->
        <div class="modal fade" id="classElevenChemistry" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Chemistry - Class 11</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- modal class 11 maths -->
        <div class="modal fade" id="classElevenMaths" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Maths - Class 11</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- modal class 11 biology -->
        <div class="modal fade" id="classElevenBiology" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Biology - Class 11</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Card for class 12 -->
    <div class="card border-info text-center p-0">
      <div class="card-header">
        Class XII
      </div>
      <div class="card-body">
        <p class="card-text">
          Select the class 12 subject
        </p>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classTwelvePhysics">Physics</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classTwelveChemistry">Chemistry</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classTwelveMaths">Maths</a>
        <a type="button" class="btn btn-light" data-toggle="modal" data-target="#classTwelveBiology">Biology</a>
        <!--Modal class 12 physics-->
        <div class="modal fade" id="classTwelvePhysics" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Physics - Class 12</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- Modal class 12 chemistry -->
        <div class="modal fade" id="classTwelveChemistry" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Chemistry - Class 12</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- modal class 12 maths -->
        <div class="modal fade" id="classTwelveMaths" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Maths - Class 12</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>
        <!-- modal class 12 biology -->
        <div class="modal fade" id="classTwelveBiology" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Biology - Class 12</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                add topics here
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
  </div>
  
  <% include ./partials/footer %>
